/.gdbinit
*.o
/ctwm
/ctwm.1
/ctwm.1.docbook
/ctwm.debug
/ctwm_atoms.c
/ctwm_atoms.h
/ctwm_config.h
/deftwmrc.c
/event_names_table.h
/ewmh_atoms.c
/ewmh_atoms.h
/functions_deferral.h
/functions_defs.h
/functions_dispatch_execution.h
/functions_parse_table.h
/gram.c
/gram.h
/gram.tab.h
/lex.c
/repl_str.c
/version.c
/build*/
